@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;1,400&display=swap');

body{
    position: relative;
    min-height: 100vh;
    font-family: "Montserrat";
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' version='1.1' xmlns:xlink='http://www.w3.org/1999/xlink' xmlns:svgjs='http://svgjs.com/svgjs' width='1900' height='1900' preserveAspectRatio='none' viewBox='0 0 1900 1900'%3e%3cg mask='url(%26quot%3b%23SvgjsMask1038%26quot%3b)' fill='none'%3e%3crect width='1900' height='1900' x='0' y='0' fill='%230e2a47'%3e%3c/rect%3e%3cpath d='M -350.64598366304745%2c279 C -160.65%2c509 219.35%2c1312 599.3540163369526%2c1429 C 979.35%2c1546 1169.35%2c850.8 1549.3540163369526%2c864 C 1929.35%2c877.2 2429.22%2c1543.2 2499.3540163369526%2c1495 C 2569.48%2c1446.8 2019.87%2c797.4 1900%2c623' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -21.43024458771049%2c526 C 168.57%2c695.4 548.57%2c1410.2 928.5697554122895%2c1373 C 1308.57%2c1335.8 1498.57%2c422.6 1878.5697554122894%2c340 C 2258.57%2c257.4 2824.28%2c854.4 2828.5697554122894%2c960 C 2832.86%2c1065.6 2085.71%2c886.4 1900%2c868' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3cpath d='M -997.6301785451585%2c447 C -807.63%2c614.6 -427.63%2c1235 -47.630178545158465%2c1285 C 332.37%2c1335 522.37%2c749.4 902.3698214548415%2c697 C 1282.37%2c644.6 1652.84%2c978.8 1852.3698214548415%2c1023 C 2051.9%2c1067.2 1890.47%2c939 1900%2c918' stroke='rgba(51%2c 121%2c 194%2c 0.58)' stroke-width='2'%3e%3c/path%3e%3c/g%3e%3cdefs%3e%3cmask id='SvgjsMask1038'%3e%3crect width='1900' height='1900' fill='white'%3e%3c/rect%3e%3c/mask%3e%3c/defs%3e%3c/svg%3e");
}
.App {
    text-align: center;
}
.navbar{
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
}
.navbar-brand {
    font-size: 1.5rem;
    font-weight: 600;
}
.weather{
    color: #3e63a7;
    padding: 0.2rem;
}
.logo{
    width: 45px;
    padding-left: 0.5rem;
}

.input-group {
    padding-top: 10rem;
    padding-bottom: 2rem;
    width: 60%;
}

.card {
    margin-top: 5rem;
    max-width: 60%;
}

.card-title{
    font-size: 1.2rem;
    font-weight: 600;
    position: absolute;
    padding-left: 0.5rem;
    padding-top: 1rem;
}

.card-date{
    position: absolute;
    padding-left: 0.5rem;
    margin-top: 3.5rem;
}

.card-temp{
    font-size: 2rem;
    position: absolute;
    padding-left: 0.5rem;
    margin-top: 18rem;
}
.card-description{
    position: absolute;
    font-size: 1.1rem;
    padding-left: 0.5rem;
    margin-top: 20rem; 
}
.card-text{
    font-size: 1.2rem;
}

.line{
    background-color: #fff;
    padding: 0.7px;
}
.temp{
    font-size: 1.5rem;
}
.col{
    font-size: 1.1rem;
    margin-top: 2rem ;
}
.description{
    padding-right: 1rem;
}
.col p{
    margin-bottom: 0;
}

.description{
    font-size: 1rem;
}

.text-light h2 {
    font-size: 2.5rem;
}

.about{
    height: 65vh;
    margin-top: 10rem;
    justify-content: center;
}
 .about h2{
    font-size: 4rem;
    color: #fff;
}
.app{
    font-weight: 600;
    display: block;
    margin-left: 2rem;
    color: #3e63a7;     
}
.about img{
    width: 100px;
}
.about p{
    font-size: 1.3rem;
    letter-spacing: 0.2rem;
    color: #fff;
    max-width: 35rem;
}

.footer{
    display: grid;
    justify-items: center;
    background-color: #212529;
    position: absolute;
    width: 100%;
    min-height: 18vh;
}

.social{
    margin-top: 3rem;
    width: 5rem;
    padding: 1rem;
}

.social-outlook{
    margin-top: 3rem;
    width: 4.8rem;
    padding: 1rem ;
}
.develope-by{
    color: #fff;
    font-size: 0.9rem;
}
.my-name{
    font-style: italic;
    font-size: 0.8rem;
    font-weight: 600;
}

/* Breackpoints devices, tablets and phones */


@media (max-width: 1400px){
    .card{
        max-width: 70%;
    }
    .card-date{
        font-size: 1.1rem;
    }
}



@media (max-width: 1200px){
    .forecast{
        font-size: 0.8rem;
        margin-top: 0.6rem;
    }
    .forecast img{
        width: 35px;
    }
    
    .card-title{
        font-size: 1.5rem;
    }
    .card-date{
        margin-top: 2.8rem;
    }
    .temp{
        font-size: 1rem;
    }
    .card-temp{
        font-size: 1.9rem;
        padding-left: 1rem;
        margin-top: 15rem;
    }
    .card-description{
        margin-top: 17rem; 
    }
    
}



@media (max-width: 990px){
    .card {
        margin-top: 5rem;
        max-width:90%;
    }
    .card-title{
        font-size: 1.2rem;
        padding: 0.5rem;
    }
    
    .card-date{
        padding-left: 0.5rem;
        margin-top: 1.9rem;
    }
    
    .card-temp{
        font-size: 1.9rem;
        margin-top: 14rem;
    }
    .card-description{
        font-size: 0.8rem;
        margin-top: 16rem;
    }
    .card-text{
        font-size: 1rem;
    }
    .forecast{
        margin-top: 0;
    }
    .forecast p{
        font-size: 0.rem;
        margin-top: 0;
        margin-right: 0;
        padding: 0;
    }
    .temp{
        font-size: 0.6rem;
    }
    .about{
        height: 100vh;
    }
    .about h2{  
        font-size:3rem;
    }
    .about img{
        width: 80px;
    }

    .app{
        margin-left: 0;     
    }
    .about p{
        font-size: 1rem;
        letter-spacing: 0.1rem;
        color: #fff;
        max-width: 25rem;
    }

}



@media (max-width: 767px) {
    
    .card {
        margin-top: 5rem;
        max-width: 65%;
    }
    .card-title{
        font-size: 1.5rem;
        padding: 1rem;
    }
    .card-date{
        font-size: 1.5rem;
        padding-left: 1rem;
        margin-top: 3.5rem;
    }
    
    .card-temp{
        font-size: 2.4rem;
        margin-top: 22rem;
    }
    .card-description{
        font-size: 1rem;
        margin-top: 24rem;
    }
    .card-text{
        font-size: 0.9rem;
    }
    .forecast p{
        font-size: 0.8rem;
        padding: 0.5rem;

    }
}

@media (max-width: 458px) {
    .input-group {
        width: 90%;
    }
    
    .card {
        margin-top: 3rem;
        max-width: 95%;
    }
    
    .card-temp{
        font-size: 2.5rem;
        margin-top: 24rem;
    }
    .card-description{
        font-size: 2rem;
        margin-top: 26rem;
    }
    .footer{
        max-width: 100%;
    }
}
